img{
  width: 55%;
  border-radius: 5px;
  float: left;
  padding: 0;
  margin-right: 2%;
}
.bio{
  font-family: sans-serif;
  font-weight:bold;
}
h1{
  margin: 5px;
  margin-left: 1%;
  padding: 2%;
  font-size: 3em;
  background-color: #eaeae1;
  width: 98%;
  text-align: center;
  border-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #c2c2a3;
}
.wrapper{
  width: 80%;
  margin: 0 auto;
  top: 42px;
  position: absolute;
  margin-left: 10%;
}
.con {
  width: 90%;
  background-color: #c0c0a5;
  border-radius: 5px;
}
.box p{
  font-family: sans-serif;
}
.inner{
  float: left;
  margin: 1%;
  border: solid;
  border-width: thin;
  border-color: #c2c2a3;
  padding: 5%;
  width: 48%;
  height: 650px;
  background-color: #eaeae1;
  border-radius: 3px;
}
.tower{
  background-color: #4d79ff;
  opacity: 0.6;
}
.html {
  width: 30%;
  border-radius: 5px;
   }
.css {
  width: 20%;
  border-radius: 5px;
   }
.Javascript {
  width: 800%;
  border-radius: 5px;
}
.Java{
  width: 40%;
  border-radius: 5px;
 }
 .scrum{
  width: 20%;
  border-radius: 5px;
 }
 .cSharp{
   width: 30%;
   border-radius: 5px;
 }
 .skills{
   text-align: right;
   padding: 10px;
   color: white;
   font-family: sans-serif;
   font-size: 15px;
 }
 .svenska {
   width: 100%;
   border-radius: 5px;
  }


 .engelska {
   width: 80%;
   border-radius: 5px;
    }

  @media screen and (max-width : 786px) {
    .inner {
      margin: 5px;
      border: solid;
      border-width: thin;
      border-color: #c2c2a3;
      padding: 5%;
      width: 100%;
      height: 650px;
      background-color: #eaeae1;
      border-radius: 3px;
    }
    h1 {
      margin: 5px;
      width: 100%;
    }
  }
