@media screen and (max-width : 1100px) {
  .wrapper{
    width: 90%;
  }
  .content{
    float: left;
    width: 95%;
    padding: 20px;
    height: 550px;
    z-index: 2;
    border: outset;
    margin: 2.5%;
  }

  #portfolio{
  width: 80%;
  height: auto;

  }
  #portfolio2{
  width: 80%;
  height: auto;
  }
}
@media screen and (max-width : 800px) {
  .contentB{
    width: 100%;
    padding: 20px;
    height: 500px;
  }
}
@media screen and (max-width : 500px) {
    .wrapper{
      width: 90%;
      height: 2000px;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 auto;
      top: 51px;
      position: absolute;
      left: 2%
    }
    .content{
      width: 100%;
      padding: 20px;
      height: 800px;
    }
    .tableList{
      width: 80%;
      height: 80%;
      margin: 7.5%;
      border-collapse: collapse;
      font-family: monospace;
      font-stretch: condensed;
    }
    .tableList th{
      background-color: rgb(0,0,0);
      text-align: center;
      color: white;
      font-size: 17px;
    }
    .tableList tr{
      background-color: rgb(234, 234, 225);
      text-align: center;
      font-size: 14px;
    }
    .tableList a{
      text-decoration: none;
      color: inherit;
    }
    .dropdownMenu{
      position: relative;
      display: inline-block;
      float: left;
    }
    .header-img{
      width: 42px;
      height: 42px;
      display: inline-block;
      float: left;
    }
    .dropdown{
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown a{
      color: black;
      /* padding: 12px 16px; */
      text-decoration: none;
      display: block;

      padding: 10px;
      margin: 0;
      font-size: 16px;
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
    .dropdown a:hover{
      color: grey;
      -o-transition:.3s;
      -ms-transition:.3s;
      -moz-transition:.3s;
      -webkit-transition:.3s;
      transition:.3s;
    }
    .dropdownMenu:hover .dropdown{
      display: block;
      padding-top: 42px;
    }
}
@media screen and (max-width : 380px) {
  .tableList th{
    background-color: rgb(0,0,0);
    text-align: center;
    color: white;
    font-size: 15px;
  }
  .tableList tr{
    background-color: rgb(234, 234, 225);
    text-align: center;
    font-size: 11px;
  }

}
