*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  margin: 0;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  background-image: url(marmoria.jpeg);

}
.header{
  position: sticky;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  height: 42px;
  text-align: center;
  font-family: monospace;
  z-index: 1;
}
.header ul{
  margin: 0px;
  padding: 0px;
}
.header li{
  float: left;
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
}
.header a{
  float: left;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.header a:hover{
  color: grey;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.header-button{
  display: none;
}
.header-img{
  display: none;
}
#selected{
  color: grey;
}
.bildSpel{
  width: 500px;
  height: auto;
}




.test{
  position: fixed;
  width: 100%;
  height: 400px;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
  top: 51px;
  position: absolute;
  margin-left: 5%;


}
.content{
  border-radius: 1%;
  float: left;
  padding: 20px;
  width: 45%;
  height: 600px;
  z-index: 2;
  border: outset;
  margin: 2.5%;
  font-weight: bold;
}

.contentB{
  border-radius: 1%;
  float: left;
  padding: 20px;
  width:45%;
  height:800px;
  z-index: 2;
  border: outset;
  margin: 2.5%;
  font-weight: bold;

}
.content img{
  width: 200px;
  height: 280px;
  margin: 0;
  border-radius: 4px;
}
#portfolio{
width: 100%;
height: auto;

}
#portfolio2{
width: 100%;
height: auto;

}
.red{
  color: red;
}
.content p {
  padding: 5px;
}
.tableList{
  width: 80%;
  height: 80%;
  margin: 10%;
  margin-top: 5%;
  border-collapse: collapse;
  font-family: monospace;
  font-stretch: condensed;

}
.tableList th{
  background-color: rgb(0,0,0);
  text-align: center;
  color: white;
  font-size: 22px;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.tableList tr{
  background-color: rgb(234, 234, 225);
  text-align: center;
  font-size: 15px;
}
.tableList a{
  text-decoration: none;
  color: inherit;
}
.tableTitle{
  border-bottom: solid;
}
.showMore{
  font-size: 10px;
  cursor: pointer;
}
#showMore1{
  display: none;
}
#showMore2{
  display: none;
}
#showMore3{
  display: none;
}
#showMore4{
  display: none;
}
#showMore5{
  display: none;
}
iframe{
  width: 90%;
  height: 90%;
  margin: 5%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-align-center{
  text-align: center;
}
#projectImg{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover{
  background-color: #4CAF50;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
legend{
  font-size: 2em;
  font-family: monospace;
  font-style: oblique;
}

.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 100px;
  width: 80%;
  margin: 10%;
  margin-top: 2.5%;
  border-radius: 1%;
  float: left;
  padding: 20px;
  z-index: 2;
  border: outset;
  margin-bottom: 0;
}

.kolumn1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.kolumn2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .kolumn1, .kolumn2, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

h1 {

font-family: monospace;
font-style: oblique;


font-family: monospace;
font-style: oblique;


margin: 0;
padding: 0;
color: black;
text-transform: uppercase;
letter-spacing: 2px;


}

.rubrik h1{
font-family: sans-serif;
color: black;


}

.btn{

cursor: grab;
text-align: center;

}

h2{
  font-family: monospace;
  font-style: oblique;
}

.johans{

  text-align: left;

}

.hem{

padding-top: 40px;
  text-align: center;
  font-family: monospace;
}



.submit{

  text-align: center;
}

.rubrik{

  text-align: center;
}
.vanligText{
  text-align: center;
}
#ani{
text-align: center;
}
#ani2{
padding: 80px;
display: none;
background-image: url(pic3.jpg);
color: white;
text-align: center;
}
#bildSpel{
  height: 500px;
  width: 900px;
  padding-top: 120px;
}
