.con {
  width: 50%;
  background-color: #ddd;
  color: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  border-radius: 8px;
}
.box p{
  font-family: sans-serif;
}

body{

  background-image: url(marmoria.jpeg);
}



.skills{
  text-align: right;
  padding: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;

}



.html {
  width: 30%;
  background-color: gold;
  border-radius: 5px;
  animation: html 2s;
   }

.css {
  width: 20%;
  background-color: red;
  border-radius: 5px;
  animation: css 2s;
   }

.jquery {
  width: 10%;
  background-color: darkblue;
  border-radius: 5px;
  animation: jquery 2s;
}

.netbeans{
  width: 40%;
  background-color: cyan;
  border-radius: 5px;
  animation: netbeans 2s;
 }

 .skills{
   text-align: right;
   padding: 10px;
   color: white;
   font-family: sans-serif;
   font-size: 15px;

 }

 .svenska {
   width: 100%;
   background-color: gold;
   border-radius: 5px;
   animation: svenska 2s;
    }

 .engelska {
   width: 100%;
   background-color: red;
   border-radius: 5px;
   animation: engelska 2s;
    }

 .franska {
   width: 30%;
   background-color: darkblue;
   border-radius: 5px;
   animation: franska 2s;
 }

 .intro{
text-align: center;

 }

  #bildJohan{
    width: 72%;
    height: auto;
    margin: auto;
    border-radius: 4px;

  }

 @keyframes html {
   0%
    { width: 0%;
   }
   100%{
     width: 30%;
   }
 }

 @keyframes css {
   0%
    { width: 0%;
   }
   100%{
     width: 20%;
   }
 }

 @keyframes jquery {
   0%
    { width: 0%;
   }
   100%{
     width: 10%;
   }
 }

 @keyframes netbeans {
   0%
    { width: 0%;
   }
   100%{
     width: 40%;
   }
 }

 @keyframes svenska {
   0%
    { width: 0%;
   }
   100%{
     width: 100%;
   }
 }

 @keyframes engelska {
   0%
    { width: 0%;
   }
   100%{
     width: 100%;
   }
 }

 @keyframes franska {
   0%
    { width: 0%;
   }
   100%{
     width: 30%;
   }
 }
